/* General Styles */
body {
  background-color: #f5e1e1; /* Pastel pink background */
  font-family: "Baloo 2", cursive; /* Updated font */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  cursor: url("../assets/cursor.cur"), auto; /* Custom animated cursor */
  margin-left: 10%;
  margin-right: 10%;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 530px;
  min-width: 378.5px;
}

/* H1 Styles */
h1 {
  font-family: "Baloo 2", cursive;
  font-weight: 700; /* Bold weight */
  font-size: 3.5em; /* Adjust size as needed */
  color: #ffffff; /* Darker pastel pink for text */
  margin-bottom: 20px; /* Adjust spacing between heading and button */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3),
    -1px -1px 2px rgba(255, 255, 255, 0.7); /* Light highlight for contrast */
  background: #d08f8f; /* Darker pastel pink for background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3); /* Carved effect */
  width: 100%; /* Make h1 take full width of the container */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

/* Button Styles */
.retry-btn {
  background: #f5e1e1; /* Pastel pink */
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #d08f8f, -4px -4px 8px #ffffff; /* Raised effect */
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  color: #d08f8f;
  cursor: pointer;
  position: relative; /* For z-index control */
  z-index: 3; /* Bring button to the front */
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s; /* Smooth transition for hover */
  text-decoration: none;
  width: 100%; /* Make button take full width of the container */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

/* Button Hover State */
.retry-btn:hover {
  background: #f3b3b3; /* Lighter pastel pink */
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
    inset -2px -2px 4px rgba(255, 255, 255, 0.4); /* Carved effect */
  transform: translateY(
    4px
  ); /* Slightly move the button down to enhance the carved effect */
}

/* Button Active State */
.retry-btn:active {
  background: #f1a2a2; /* Even lighter pastel pink */
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3),
    inset -4px -4px 8px rgba(255, 255, 255, 0.5); /* Deeper carved effect */
  transform: translateY(
    2px
  ); /* Slightly move the button down for the pressed effect */
}
